
    .my-container {
        position: relative;
      }
      
      .my-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-image: url(${C:\Users\Seea Rani\OneDrive\Desktop\project\car-project\src\Images\facebook_profile_image.png}); */
        background-size: cover;
        background-position: center;
        filter: brightness(50%);
        z-index: -1;
      }
      
      .my-content {
        position: relative;
        z-index: 1;
      }
